<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jim.pers.jerp.mapper.EmployeeMapper">
    <select id="getEmployeeByUuid"  resultType="jim.pers.jerp.model.Employee">
        SELECT  uuid, userName,pwd,email,tel,depUuid
        FROM `tbl_emp`
        WHERE uuid=#{uuid}
    </select>
</mapper>