<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jim.pers.jerp.mapper.PurchOrderMapper">
    <resultMap id="PurchOrderResultMap" type="jim.pers.jerp.model.PurchOrder">
        <id property="uuid" column="uuid" />
        <result property="orderNo" column="orderNo" />
        <result property="creator" column="creator" />
        <result property="createTime" column="createTime" />
        <result property="completer" column="completer" />
        <result property="endTime" column="endTime" />
        <collection property="purchOrderDetailList" javaType="list" ofType="jim.pers.jerp.model.PurchOrderDetail">
            <id property="uuid" column="detailUuid" />
            <result property="orderUuid" column="orderUuid" />
            <result property="goodsUuid" column="goodsUuid" />
            <result property="supplierUuid" column="supplierUuid" />
            <result property="goodsName" column="goodsName" />
            <result property="supplierName" column="supplierName" />
            <result property="inPrice" column="inPrice" />
            <result property="num" column="num" />
        </collection>
    </resultMap>
    <select id="getPurchOrderByUuid"  resultMap="PurchOrderResultMap">
        SELECT o.uuid,o.orderNo,o.creator,o.createTime,o.checker,o.checkTime,o.completer,o.endTime,d.uuid detailUuid,d.orderUuid,d.goodsUuid,d.inPrice,
        d.supplierUuid,d.num,g.name goodsName,s.name supplierName
        FROM tbl_purch_order o
        LEFT JOIN tbl_purch_orderdetail d ON o.uuid = d.orderUuid
        LEFT JOIN tbl_goods g ON d.goodsUuid = g.uuid
        LEFT JOIN tbl_supplier s ON d.supplierUuid=s.uuid
        WHERE o.uuid= #{uuid}
        ORDER BY o.uuid desc,d.uuid desc
    </select>
    <select id="getAllPurchOrders"  resultMap="PurchOrderResultMap">
        SELECT o.uuid,o.orderNo,o.creator,o.createTime,o.checker,o.checkTime,o.completer,o.endTime,d.uuid detailUuid,d.orderUuid,d.goodsUuid,d.inPrice,
        d.supplierUuid,d.num,g.name goodsName,s.name supplierName
        FROM tbl_purch_order o
        LEFT JOIN tbl_purch_orderdetail d ON o.uuid = d.orderUuid
        LEFT JOIN tbl_goods g ON d.goodsUuid = g.uuid
        LEFT JOIN tbl_supplier s ON d.supplierUuid=s.uuid
        ORDER BY o.uuid desc,d.uuid desc
    </select>
    <insert id="addPurchOrder" useGeneratedKeys="true"  keyProperty="uuid">
        insert into tbl_purch_order(creator,createTime,orderNo)
        values(#{creator},#{createTime},#{orderNo})
        <selectKey keyProperty="uuid" resultType="int" order="AFTER" >
            SELECT @@IDENTITY AS uuid
        </selectKey>
    </insert>
    <update id="updatePurchOrder">
        UPDATE tbl_purch_order
        <set>
            <if test="orderNo!=null">
                orderNo = #{orderNo},
            </if>
            <if test="checker!=null">
                checker = #{checker},
            </if>
            <if test="checkTime!=null">
                checkTime = #{checkTime},
            </if>
            <if test="completer!=null">
                completer = #{completer},
            </if>
            <if test="endTime!=null">
                endTime = #{endTime},
            </if>
        </set>
        WHERE uuid = #{uuid}
    </update>
</mapper>