<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jim.pers.jerp.mapper.SupplierMapper">
    <select id="getSupplierByUuid"  resultType="jim.pers.jerp.model.Supplier">
        SELECT  uuid, name, address, contact, tel
        FROM tbl_supplier
        WHERE uuid=#{uuid}
    </select>
    <select id="getAllSuppliers"  resultType="jim.pers.jerp.model.Supplier">
        SELECT  uuid, name, address, contact, tel
        FROM tbl_supplier
        ORDER BY uuid
    </select>
    <delete id="deleteSupplier">
        DELETE FROM tbl_supplier WHERE uuid = #{uuid};
    </delete>
    <update id="updateSuppliers">
        UPDATE tbl_supplier
            <set>
                name = #{name},
                address = #{address},
                contact = #{contact},
                tel = #{tel},
            </set>
        WHERE uuid = #{uuid}
    </update>
    <insert id="addSupplier" useGeneratedKeys="true"  keyProperty="uuid">
        insert into tbl_supplier(name,address,contact,tel)
        values(#{name},#{address},#{contact},#{tel})
        <selectKey keyProperty="uuid" resultType="int" order="AFTER" >
            SELECT @@IDENTITY AS uuid
        </selectKey>
    </insert>
</mapper>